:root {
  --theme: #ee416c; /*Original:  #03e9f4*/
  --themetrans: rgba(222, 25, 75, 0.7); /*Original:  rgba(0, 247, 168, 0.8)*/
  --themetrans2: rgb(252, 68, 114); /*Original:  rgba(3, 233, 244, 0.8)*/
  --white: #212529; /*Original:  #ffffff*/
  --dark: #ffffff; /*Original:  #212529*/
  --black: #050801; /*Original:  #050801*/
  --darktrans: rgba(0, 0, 0, 0.25); /*Original:  rgba(0, 0, 0, 0.25)*/
  --themenew: rgb(238, 28, 81); /*Original:  rgb(238, 28, 81)*/
}

html {
  background-color: var(--dark);
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ol,
span,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--black);
}

section {
  padding: 150px 0px 0px 0px;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
  background: var(--dark);
  line-height: 1.5;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  transition: all 0.7s;
  z-index: 100;
}

.header .wrap {
  width: 1140px;
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.header.sticky {
  width: 100%;
  position: fixed;
  background: var(--theme);
  color: var(--dark);
  box-shadow: 0 0 5px var(--theme), 0 0 15px var(--theme), 0 0 30px var(--theme),
    0 0 50px var(--theme);
}

.header .logo {
  display: flex;
  margin: 0;
  padding: 16px 0 0 0;
}

.header .logo i {
  margin-right: 1rem;
  height: 35px;
  width: 35px;
  color: var(--theme);
}

.header .logo a,
.header .logo i {
  display: block;
}

.header .logo a {
  font-size: 25px;
  font-weight: 600;
  color: var(--theme);
}

.header.sticky .logo a {
  color: var(--white);
}

.header .menu ul {
  display: flex;
}

.header .menu li {
  padding: 16px;
}

.header .menu a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--theme);
  padding: 8px;
  display: block;
  text-transform: uppercase;
}

.header.sticky .menu a,
.header.sticky .logo i {
  color: var(--black);
  transition: 0.5s ease;
}

.header .menu a.active_a,
.header .menu a:hover {
  color: var(--white);
  text-decoration: underline 5px;
}

.header.sticky .menu a:hover {
  color: var(--white);
}

.header .sidemenu-toggler {
  position: absolute;
  width: 50px;
  padding: 6px;
  top: 23px;
  right: 40px;
}

.header .sidemenu-toggler > span {
  display: block;
  background-color: var(--theme);
  height: 3px;
}

.header.sticky .sidemenu-toggler > span {
  display: block;
  background-color: var(--white);
  height: 3px;
}

.header .sidemenu-toggler > span:nth-child(2) {
  margin: 4px 0 4px auto;
  width: 75%;
  transition: 0.3s all;
}

.header .sidemenu-toggler > span:nth-child(3) {
  margin-left: auto;
  width: 50%;
  transition: 0.6s all;
}

.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3) {
  width: 100%;
}

.header .sidemenu {
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(
    315deg,
    var(--themetrans) 0%,
    var(--themetrans2) 74%
  );
  width: 40%;
  height: 100vh;
  z-index: 999;
  padding: 3.5rem;
  color: var(--white);
  transform: translate3d(100%, -100%, 0);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.header .sidemenu.active {
  transform: translate3d(0, 0, 0);
}

.header .sidemenu .close {
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  right: 20px;
  top: 24px;
}

.header .sidemenu .close::before,
.header .sidemenu .close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 13;
  height: 28px;
  width: 4px;
  background: var(--black);
}

.header .sidemenu .close::before {
  transform: rotate(45deg);
}

.header .sidemenu .close::after {
  transform: rotate(-45deg);
}

.header .sidemenu nav ul {
  padding-top: 30px;
}

.header .sidemenu nav li {
  padding: 15px 0;
}

.header .sidemenu nav a {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
  transition: 0.4s ease;
}

.header .sidemenu nav a.active_a,
.header .sidemenu nav a:hover {
  color: var(--dark);
  letter-spacing: 7px;
}

.header .sidemenu .footer {
  padding-top: 100px;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}

.header .sidemenu .footer .social {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
}

.header .sidemenu .footer .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  text-transform: uppercase;
}

.header .sidemenu .footer .social a i {
  font-size: 40px;
  color: var(--white);
}

.header .sidemenu .footer .social a:hover i {
  color: var(--black);
  transform: scale(1.3);
}

.header .sidemenu .footer p {
  color: var(--black);
}

.header .sidemenu .footer p a {
  color: var(--white);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background: var(--dark);
  border-left: 0 solid var(--white);
  border-right: 0 solid var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  width: 0;
  height: 15%;
  transition: 0.5s ease;
  cursor: pointer;
}

/*POČETNA*/

.pocetna {
  padding-top: 100px;
}

.hero-text {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 27px;
  font-weight: 600;
  line-height: 14px;
  color: var(--white);
  padding: 10px 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.name {
  font-size: 80px;
  letter-spacing: -1px;
}

.designation {
  font-size: 30px;
}

.social-icons li {
  list-style: none;
  margin-right: 30px;
  margin-top: 40px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.4s ease;
  color: var(--white);
}

.social-icons li:hover {
  color: var(--theme);
  transform: scale(1.5);
}

.social-icons li i {
  text-align: center;
}

.pocetna .col-md-6 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; /*to jebe*/
}

.pocetna .col-md-6:nth-child(2) {
  margin-top: 3rem;
  margin-left: -3rem;
}

.pocetna .col-md-6 .container_anim {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pocetna .col-md-6 .container_anim .box {
  transform-style: preserve-3d;
  animation: animtrd 20s linear infinite;
}

@keyframes animtrd {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotate(25deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg) rotate(25deg);
  }
}

.pocetna .col-md-6 .container_anim .box span {
  position: absolute;
  font-size: 2em;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(120px) translateX(50px); /* 360/16 = 22.5deg */
}

.pocetna .col-md-6 .container_anim .box span i:nth-child(2) {
  color: var(--themenew);
  font-style: initial;
  letter-spacing: 3px;
  background: linear-gradient(90deg, transparent, var(--dark), transparent);
}

.pocetna .col-md-6 .container_anim .box span i:nth-child(1),
.pocetna .col-md-6 .container_anim .box span i:nth-child(3) {
  color: var(--theme);
}

/*O NAMA*/

.about {
  font-family: "Poppins", sans-serif;
}

/* .hero-img {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  background: url("/public/assets/img/backanim.jpg") no-repeat;
  background-size: contain;
  transform: translateY(25%);
}

.text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 54px;
  font-weight: bolder;
}

.overlay-image {
  position: absolute;
  top: -15rem;
  left: 0;
  height: 250px;
  width: 250px;
  animation: moveImage 10s linear infinite;
}

@keyframes moveImage {
  0% {
    transform: translate(-100%, 100%) rotate(90deg);
  }
  20% {
    transform: translate(200%, 100%) rotate(90deg);
  }
  21% {
    transform: translate(200%, 100%) rotate(-90deg);
  }
  40% {
    transform: translate(-100%, 100%) rotate(-90deg);
  }
  60% {
    transform: translate(200%, 100%) rotate(90deg);
  }
  61% {
    transform: translate(200%, 100%) rotate(90deg);
  }
  90% {
    transform: translate(-100%, 100%) rotate(90deg);
  }
  100% {
    transform: translate(200%, 100%) rotate(90deg);
  }
} */

/* BUTOTNS */
.vise {
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 600;
  border: none;
  color: var(--theme);
}

.vise:focus {
  outline: none;
}

.button a {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 50px 0;
  color: var(--theme);
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgb(149, 101, 101));
}

.button a:hover {
  font-weight: 600;
  letter-spacing: 8px;
  background: var(--theme);
  color: var(--white);
  box-shadow: 0 0 5px var(--theme), 0 0 25px var(--theme) #03e9f4,
    0 0 50px var(--theme), 0 0 200px var(--theme);
}

.button a span {
  position: absolute;
  display: block;
}

.button a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--theme));
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.button a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--theme));
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--theme));
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.button a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--theme));
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/*SERVISI*/

.mh-service {
  overflow: hidden;
}

.mh-service h2 {
  font-family: "Poppins", sans-serif;
  line-height: 34px;
}

.mh-service .mh-service-item {
  padding: 20px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 25px 22px 0 var(--darktrans), 0 2px 10px 0 var(--darktrans);
}

.mh-service .mh-service-item .fa {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 16px;
}

.mh-service .mh-service-item .fa {
  color: var(--theme);
}

.mh-service .mh-service-item h3 {
  font-weight: 600;
}

.mh-service .mh-service-item h5 {
  font-weight: 600;
}

.short-text {
  overflow: hidden;
}

.more {
  display: none;
}

/* GALERIJA */

.galerija h2 {
  font-family: "Poppins", sans-serif;
}
.containeranim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
}

.containeranim .anim {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-container {
  width: 400px;
  height: 400px;
  position: absolute;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mh-service-item h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 34px;
}

/*PROJEKTI*/

.project .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.project .container .row {
  display: flex;
  justify-content: center;
}

.project-item {
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: var(--theme);
  box-shadow: 0 25px 22px 0 var(--darktrans), 0 2px 10px 0 var(--darktrans);
}

.project-item:hover {
  transition: all 0.3s;
}

.project-item .project-inner {
  padding: 20px 20px;
}

.project-item .project-inner h2 {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.project-item .project-inner p {
  margin-top: 1rem;
  font-size: 16px;
  color: var(--black);
}

.project-item .project-inner img {
  margin-bottom: 30px;
}

/*CJENIK*/

/* .pricing h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.dark-bg {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 25px 22px 0 var(--darktrans), 0 2px 10px 0 var(--darktrans);
}

.pricing {
  text-align: center;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 4px;
}

.pricing:hover {
  transform: 0.3s;
}

.pricing .fa {
  font-size: 60px;
  line-height: 36px;
  margin-bottom: 30px;
  margin-top: 50px;
  color: var(--theme);
}

.pricing h4 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.pricing h5 {
  margin-bottom: 10px;
  font-weight: 600;
}

.pricing h5 span {
  color: var(--theme);
}

.pricing ul {
  margin-bottom: 15px;
} */

/*KONTAKT*/
.kontakt h2 {
  font-family: "Poppins", sans-serif;
  line-height: 34px;
}

.kontakt .kontakt-item {
  padding: 20px;
  margin: 30px 0px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 25px 22px 0 var(--darktrans), 0 2px 10px 0 var(--darktrans);
}
.kontakt .kontakt-item img {
  height: 100%;
  width: 100%;
}

.kontakt .kontakt-item h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}

.kontakt .kontakt-item p {
  font-size: 20px;
  font-weight: 500;
}

.kontakt .kontakt-item p .fa {
  font-size: 25px;
  margin: 20px 10px 0px 0px;
  color: var(--theme);
}

.kontakt .kontakt-item p a {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
}

.kontakt .kontakt-item .razmak {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kontakt .kontakt-item .razmak p:nth-child(2) {
  color: var(--theme);
}

.kontakt .kontakt-item .map {
  display: block;
  padding: 0px;
  width: 100%;
  height: calc(0.5625 * 100vh);
  max-width: 100%;
  max-height: 320px;
  min-width: 300px;
  min-height: 180px;
  border-radius: 6px;
}

footer {
  background: var(--dark);
  padding: 15px 23px;
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  font-size: 16px;
}

/*MEDIA*/

@media (max-width: 1199px) {
  .header .menu {
    display: none;
  }
  .header .sidemenu nav li {
    padding: 10px 0;
  }
  .gap {
    margin-left: 50px;
  }
  .pocetna {
    overflow: hidden;
  }

  .pocetna .col-md-6:nth-child(2) {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; /*to jebe*/
  }

  .pocetna .col-md-6 .container_anim .box span {
    font-size: 1.8em;
  }

  .about .col-md-6:nth-child(2) {
    height: 30vh;
  }

  .text {
    font-size: 35px;
    top: 35%;
  }

  .overlay-image {
    position: absolute;
    top: -10rem;
    left: 0;
    z-index: 2;
    height: 170px;
    width: 170px;
    animation: moveImage 10s linear infinite;
  }
  .galerija .swiper-container {
    width: 280px;
    height: 300px;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .sidemenu {
    width: 70%;
  }
  .header .sidemenu nav li {
    padding: 8px 0;
  }
  .header .sidemenu nav a {
    font-size: 1.2rem;
  }
  .header .sidemenu .footer {
    padding-top: 30px;
  }
  .header .sidemenu .footer .social {
    justify-content: center;
  }
  .header .sidemenu .footer .social {
    margin-bottom: 2rem;
  }
  .gap {
    margin-left: 30px;
  }
  .mh-service .col-sm-4 {
    min-width: 300px;
  }
  .pocetna {
    overflow: hidden;
  }
  .pocetna .col-md-6 .container_anim .box span {
    font-size: 1.6em;
  }
  .mh-experience .col-sm-12:nth-child(2) h3 {
    margin-top: 3rem;
  }
}

@media (min-width: 338px) and (max-width: 768px) {
  .header {
    height: 60px;
  }

  .header .sidemenu {
    width: 100%;
  }
  .header .sidemenu nav {
    text-align: center;
  }
  .header .sidemenu nav li {
    padding: 7px 0;
  }
  .header .sidemenu .footer {
    padding: 10px 0px 0px 0px;
  }
  .header .sidemenu .footer .social {
    justify-content: center;
  }
  .header .sidemenu .footer .social {
    margin: 30px 0px;
  }
  .name {
    font-size: 48px;
    letter-spacing: -1px;
  }
  .designation {
    font-size: 20px;
  }
  .gap {
    margin-left: 0px;
  }
  .mh-service .col-sm-4 {
    min-width: 300px;
    margin: 5px;
  }
  .mh-experience .col-sm-12:nth-child(2) h3 {
    margin-top: 3rem;
  }
  .pocetna {
    overflow: hidden;
  }
  .pocetna .col-md-6 .container_anim .box span {
    font-size: 1.4em;
  }
}
